<section>
  <div class="system-sidebar list-group align-items-stretch">
    <a
      routerLink="bill"
      routerLinkActive="active"
      class="list-group-item list-group-item-info list-group-item-action d-flex align-items-center flex-fill rounded-0"
    >
      <img
        class="icon-sidebar mr-2"
        src="../../../../../assets/img/icon-account.png"
        alt="Account icon"
      />
      Account
    </a>
    <a
      routerLink="history"
      routerLinkActive="active"
      class="list-group-item list-group-item-success list-group-item-action d-flex align-items-center flex-fill"
    >
      <img
        class="icon-sidebar mr-2"
        src="../../../../../assets/img/icon-history.png"
        alt="History icon"
      />
      History
    </a>
    <a
      routerLink="planning"
      routerLinkActive="active"
      class="list-group-item list-group-item-warning list-group-item-action d-flex align-items-center flex-fill"
    >
      <img
        class="icon-sidebar mr-2"
        src="../../../../../assets/img/icon-planning.png"
        alt="Planning icon"
      />
      Planning
    </a>
    <a
      routerLink="records"
      routerLinkActive="active"
      class="list-group-item list-group-item-danger list-group-item-action d-flex align-items-center flex-fill"
    >
      <img
        class="icon-sidebar mr-2"
        src="../../../../../assets/img/icon-record.png"
        alt="Record icon"
      />
      Record
    </a>
  </div>
</section>
