<article class="system-content">
  <h1 class="text-danger ml-3 mb-5 pl-3">Records page</h1>
  <section *ngIf="!isLoaded" class="text-center">
    <app-loader></app-loader>
  </section>
  <section *ngIf="isLoaded">
    <div class="row m-0">
      <div class="col-md-6 col-sm-12">
        <app-add-event [categories]="categories"></app-add-event>
      </div>
      <div class="col-md-6 col-sm-12">
        <app-add-category
          (onCategoryAdd)="newCategoryAdded($event)"
        ></app-add-category>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6 col-sm-12">
        <app-edit-category
          [categories]="categories"
          (onCategoryEdit)="categoryWasEdited($event)"
        ></app-edit-category>
      </div>
    </div>
  </section>
</article>
